<div class="container-fluid">
  <h3> Honey Badger Medical</h3>
  <div class="container">


    <div id="leftcolumn">
      <div id="visitpurpose">
        <h4>Purpose of Visit:</h4>
      </div>

      <div id="vitals">
        <h4><strong>Vitals Checked:</strong></h4>
         Heart Rate : 5000 BPM
        <br>
        Blood pressure : 4025/9
        <br>
        Body Temperature : 273 k
      </div> <!--vitals-->
    </div> <!--leftcolumn-->

    <div id="patientinfodiv">
        <strong>Name:</strong> Christopher Jakob
        <br>
      <br>
        <strong>Date of Birth:</strong> 10/7/1312
      <br>
      <br>
        <strong>Age:</strong> old as fuck
        <br>
      <br>
      <strong>Remarks:</strong>
        <br>
      <br>
      <div id="remarks">
        Cancer yo cancer yo Cancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yoCancer yo cancer yo
      </div>

      <button>Edit</button>

    </div> <!--patientinfodiv-->
  </div> <!--container-->
</div>

