.container{
  height: 100%;
}

form{
  position: relative;
  left: 40%;
  top: 20%;
}

label{
  margin-bottom: 7px;
}
input{
  margin-bottom: 10px;
}

button{
  position: relative;
  left: 10%;
  margin-top: .5%;
}
