<div class="container-fluid">
  <div class="container">
    <h3> Create A Record</h3>

    <div id="leftcolumn">
      <div id="visitpurpose">
        <h4>Purpose of Visit:</h4>
      </div>

      <div id="vitals">
        <h4><strong>Vitals Checked:</strong></h4>
        <input type="checkbox"><strong> Heart Rate</strong>
        <input type="text" placeholder="Heart Rate">
        <br>
        <input type="checkbox"><strong> Blood pressure</strong>
        <input type="text" placeholder="Blood Pressure">
        <br>
        <input type="checkbox"><strong> Body Temperature</strong>
        <input type=" text" placeholder="Body Temperature">
      </div> <!--vitals-->
    </div> <!--leftcolumn-->

    <div id="patientinfodiv">
      <form>
        <label><strong>Name</strong></label>
        <br>
        <input type="text" placeholder="First">
        <input type="text" placeholder="Last">
        <br>
        <label><strong>Date of Birth</strong></label>
        <label id="age"><strong>Age</strong></label>
        <br>
        <input type="text" placeholder="mm/dd/yyyy">
        <input type="number">
        <br>
        <label>Remarks</label>
        <br>
        <textarea rows="10" cols="80">

        </textarea>

        <button type="submit">Submit</button>
      </form>
    </div> <!--patientinfodiv-->
  </div> <!--container-->
</div>

